* {
  box-sizing: border-box;
}

:root {
  --darkest-blue: #012A4A;
  --dark-blue: #013A63;
  --medium-blue: #2C7DA0;
  --light-blue: #bbd1d9;
  --stone: #E0E1DD;
  --white: white; 
  --light-white: rgba(255, 255, 255, 0.938);
}

body {
  margin: 0;
  padding: 0;
  color: var(--stone);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--light-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin:0;
}


header {
  padding: 15px 6% 15px 0;
  display: flex;
  padding: 40px;
  flex-direction: row;
  justify-content: space-between;
  background-color:var(--darkest-blue);
}

header h1 {
  color:var(--stone);
  font-size: 45px;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var();
  border-bottom: 4px solid var(--darkest-blue);
}

nav a {
  text-decoration: none;
  padding: 5px 5px;
  Color: var(--darkest-blue);
  font-size: 18px;
  
}

nav a:hover {
  background-size: 100% 100% 100%;
  background-color: Var(--darkest-blue);
  color: var(--stone);
}

/* About Me & Contact Section Side Bar */
main {
  margin-top: 20px;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
}


aside {
  flex: 1;
  text-align: center;  
  padding: 10px;
  border-right: 4px solid var(--darkest-blue);
  color: var(--darkest-blue);
  }

aside h2 {
  font-size: 25px;
  padding: 10px;
  }

aside p {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 14px;
  }

aside a{
  text-decoration: none;
  color:var(--darkest-blue);
  padding: 10px;
  }

aside a:hover {
  text-decoration: none;
  color:var(--light-blue);
  background-color: var(--dark-blue);
  padding: 0px;
  }

aside img {
  border-radius: ;
  border: 3px solid var(--darkest-blue);
  width: 150px;
  margin: 10px;
}

/* Work Section */
.page-section {
  margin: 5px 0;
  padding: 45px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex: 4;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: center;
  padding-right: 0px;
  font-size: 45px;
  color: var(--darkest-blue);
}

.page-section > div {
  flex: 25% 0 77%;
}

.page-section p {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
}


/* Applications to display*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--medium-blue);
  display: flex;
  min-height: 150px;
  max-height: 150px;
  flex-basis: 40%;
  align-items: flex-end;
  padding: 0 0 50px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 150%;
  color: var(--medium-blue);
  font-size:30px;
}

.flex-item:first-child{
  min-height: 300px;
  flex-basis: 83%;
}

.flex-item:hover {
  background-color: var();
  color: var(--darkest-blue);
  border: 5px solid var(--darkest-blue);
  opacity: 100%;
 }


footer {
  padding: 20px;
  text-align: center;
  background: var(--darkest-blue);
  color: var(--stone);
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }

  
}